%div.nav

  %img.logo{:src => "/images/logo.png"}

  %header.main-navigation
    = link_to "Презентация", "/prezent.html", class: "main-navigation__item"
    = link_to "Команда", "/team.html", class: "main-navigation__item"
    = link_to "Для кого", "/for_whome.html", class: "main-navigation__item"
    = link_to "Решения", "/decision.html", class: "main-navigation__item"
    = link_to "Живасофт", "/", class: "main-navigation__item nav-home"